/************************************
            VARIABLES
************************************/

/* Font */
$global-font: 'Roboto', sans-serif;

/* Grid */
$container-width: 1170px;
$total-columns: 12;
$gutter-sm: 15px;
$gutter-md: 30px;
$gutter-lg: 50px;

$view-lg: $container-width;
$view-md: 996px;
$view-sm: 767px;
$view-xs: 480px;

/* Colors */
// $color-primary: #ea5900;
// $color-secondary: #333;
// $color-text: #666;
// $color-light: #ededee;
